@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Inter:wght@400;700&family=Lexend+Deca&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 0%, 95%);
    font-family: 'Inter', sans-serif;
    font-family: 'Lexend Deca', sans-serif;
    font-family: 'Outfit', sans-serif; ;
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Lexend Deca', sans-serif;
    position: relative;
    min-height: 100vh;
    font-size: 15px;
}

.container {
   display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    min-width: 800px;
    border-radius: 20px;
}

.sedans {
    background-color:  hsl(31, 77%, 52%);
}

.suvs {
    background-color: hsl(184, 100%, 22%);
}

.luxury {
    background-color:  hsl(179, 100%, 13%);
}

.fuel {
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 45px;
}

.cruise {
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
    margin-left: 45px;
    margin-bottom: 25px;

}

.comfort {
    color: hsl(0, 0%, 95%);
    text-align: left;
    padding-top: 30px;
    padding-left: 40px;
    padding-right:50px;
    padding-bottom: 20px;
    line-height: 25px;
    margin-bottom: 30px;
    
}

button {
    background-color: hsl(0, 0%, 95%);
    padding: 15px 35px;
    border-radius: 25px;
    margin-bottom: 50px;
    margin-left: 45px;
}

.btn-sedan {
    color: hsl(31, 77%, 52%);
    font-weight: bold;
}

.btn-suv {
    color: hsl(184, 100%, 22%);
    font-weight: bold;
}

.btn-luxury {
    color: hsl(179, 100%, 13%);
    font-weight: bold;
}

@media  screen and (max-width: 375px) {

    body {
        font-size: 15px;
    }
  .container {
      display: block;
      min-width: 80%;
      height: 500px;
      
  }

    
}
